aiohttp
alembic
asyncio
bcrypt==3.2.2
fastapi
flake8
httpx
jinja2
passlib[bcrypt]==1.7.4
psycopg2-binary
pydantic[email]
pytest
pytest-asyncio
python-jose[cryptography]
python-multipart
requests
sqlalchemy
uvicorn[standard]